.chart{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;    
   
   &__link{
       display: flex;
       gap: 1rem;
   }

   @media only screen and (max-width: 450px){
       width: -webkit-fit-content;
       width: -moz-fit-content;
       width: fit-content;
   }
}